* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    background-color: #19181a;
    /* Pattern from https://www.heropatterns.com/ */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ff0e58' fill-opacity='0.15'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
}

.nav-brand {
    width: 50px;
}

/* Nav Left */
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}

hr {
    margin: 10px 0px;
}

/* banner */
.banner {
    width: 100%;
    background: url(/img/showcase2.jpg) no-repeat center center/cover;
    height: 450px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0px;
}

.btn:hover {
    opacity: 0.7;
}

.banner h2,
.banner p {
    margin-bottom: 10px;
    text-align: center;
    padding: 0 20px;
}

/* cards */

.cards-des {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0px;
}

.cards-des img {
    width: 100%;
    height: 180px;
}

.cards-des h3 {
    font-size: 20px;
    margin: 10px 0px;
}

.cards-des a {
    padding: 10px 0px;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.cards-des a:hover {
    text-decoration: underline;
}

/* promo */

.cards-promo-one {
    width: 100%;
    height: 350px;
    background: url('/img/tech-red.jpg') ;
    margin-bottom: 40px;
}

.cards-promo-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #ffffff;
}

.cards-promo-one p,
.cards-promo-one h2 {
    margin: 10px 0 20px;
}

.cards-promo-two {
    width: 100%;
    height: 350px;
    background: url(/img/image-five.jpg) no-repeat center center/cover;
}

.cards-promo-two .content {
    width: 50%;
    padding: 100px 0 0 30px;
}

/* social */

.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    padding: 0 30px;
}

.links a i {
    font-size: 2rem;
}

/* footer */

.footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

/* copy */

.copy {
    font-size: 12px;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

@media (max-width: 992px) {
    .cards-des {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-main {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 768px) {

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        margin: 10px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 30px;
    }

    .cards-promo-one .content,
    .cards-promo-two .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .cards-des {
        grid-template-columns: 1fr;
    }

    .cards-des img {
        height: 250px;
    }

    .cards-promo-one .content,
    .cards-promo-two .content{
        width: 100%;
        padding: 60px 20px;
    }

    .social p{
        font-size: 20px;
        margin: 20px;
    }

    .links a {
        padding: 20px;
    }

    .links a i {
        font-size: 1.5rem;
    }
}